/* 1. The Main Wrapper */
.main-footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 15vh 2rem;

  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.contact-footer {
  align-self: flex-start;
}

.contact-footer p {
  color: white;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}

.arrow-container2 {
  align-self: center;

  width: clamp(80px, 25vw, 150px);
}

.curved-arrow2 {
  transform: rotate(35deg);
  width: 100%;
  height: auto;
}

.curved-arrow2 path {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.contactButtonsBottom {
  align-self: flex-end;
  gap: 2rem;
  margin: 0;
}
