@media (max-width: 1140px) {
  .name {
    top: 10%;
    right: 30%;
  }

  .arrow-container {
    width: 150px;
    height: 80px;
    top: 25%;
    left: 30%;
  }
}

@media (max-width: 768px) {
  .svg-wrapper {
    transform: scale(2) translate(0%, 40%);
  }

  .sentence {
    left: -20%;
  }

  .bio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  .profile-image {
    max-width: 80%;
  }

  .arrow-container {
    left: 20%;
  }
}

@media (max-width: 480px) {
  .svg-wrapper {
    transform: scale(1.8) translate(0%, 50%);
  }
  .sentence {
    left: -30%;
    top: -5%;
  }

  .contactButtons {
    top: 2%;
  }

  .name {
    left: 10%;
    font-size: 1.8rem;
  }

  .arrow-container {
    width: 4rem;
    top: 18%;
    left: 18%;
  }

  .contactButtonsBottom {
    gap: 1rem;
  }

  .main-footer {
    max-width: 250px;
  }
  .bio {
    margin-left: 1rem;
  }
}
