.hack-mark {
  opacity: 0;
  margin: 0;
}
.hack-mark.active {
  opacity: 1;
  animation: neonFlicker 1.5s ease-in-out 3.5s forwards;
}

.hack-mark .animation-layer {
  stroke: white;
}

.hack-mark.active .animation-layer {
  opacity: 1;
  animation: dash 1.9s ease-in-out forwards;
}

.hack-mark.active .layer-2.animation-layer {
  animation-delay: 2s;
}

.hack-mark .layer-2.animation-layer {
  animation-delay: 0s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.hero-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 10rem;
}

.sentence {
  position: absolute;
  top: -10%;
  left: -5%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  white-space: pre;
}

.svg-wrapper {
  display: inline-block;
  width: 15rem;

  transform: scale(3) translate(30%, 30%);
  transform-origin: center center;

  animation: shrinkAndMove 1.5s ease-in-out 2s forwards;
}

.rest-of-sentence {
  opacity: 0;
  color: white;
  transform: translateX(-20px);
  margin-top: 2rem;
  animation: revealText 1s ease-out 3.5s forwards;
}
